<mat-divider></mat-divider>
<mat-nav-list>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/home"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>home</mat-icon>
    {{ "SIDEBAR.HOME" | translate }}
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/stats"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>stacked_line_chart</mat-icon>
    {{ "SIDEBAR.STATISTICS" | translate }}
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/articles"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>subtitles</mat-icon>
    {{ "SIDEBAR.ARTICLES" | translate }}
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/staff"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>people</mat-icon>
    {{ "SIDEBAR.STAFF" | translate }}
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/modules"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>business</mat-icon>
    {{ "SIDEBAR.MODULES" | translate }}
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/comments"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>message</mat-icon>
    {{ "SIDEBAR.COMMENTS" | translate }}
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    [routerLinkActive]="['list-item-active']"
    routerLink="/settings"
    sidebarLink
    id="sidebar__link"
  >
    <mat-icon>settings</mat-icon>
    {{ "SIDEBAR.SETTINGS" | translate }}
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
<span id="sidebar__copyright">
  {{ "SIDEBAR.COPYRIGHT" | translate }}
</span>
