<mat-divider></mat-divider>
<mat-nav-list>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/home" 
       sidebarLink>
        <mat-icon>home</mat-icon>
        Главная
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/stats" 
       sidebarLink>
        <mat-icon>stacked_line_chart</mat-icon>
        Статистика
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/articles" 
       sidebarLink>
        <mat-icon>subtitles</mat-icon>
        Статьи
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/staff" 
       sidebarLink>
        <mat-icon>people</mat-icon>
        Сотрудники
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/modules" 
       sidebarLink>
        <mat-icon>business</mat-icon>
        Модули
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/comments" 
       sidebarLink>
        <mat-icon>message</mat-icon>
        Комментарии
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item 
       [routerLinkActive]="['list-item-active']" 
       routerLink="/settings" 
       sidebarLink>
        <mat-icon>settings</mat-icon>
        Настройки
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>
<span id="sidebar__copyright">
    &#169; НАО «Национальная спутниковая компания»
</span>