:host

    .mat-icon
        vertical-align: middle
        margin-right: 20px

    .mat-list-base
        padding-top: 0 !important

    mat-nav-list a
        color: #898989
        height: 54px
    
    .list-item-active
        color: #000 !important
        background-color: #f4f4f4 !important

    #sidebar__copyright
        padding: 0 5px
        font-size: 13px
        width: fit-content
        text-align: center
        color: #c7c7c7
        position: absolute
        bottom: 20px