<header>
    <div class="header__leftSide">
        <a href="#">
            <img src="../../assets/img/logo.png" alt="tricolortv" id="header__logo">
        </a>
        <span id="header__title">
            <h3>Admin-панель</h3>
            <p>Dashboard</p>
        </span>
    </div>
    <div class="header__rightSide">
        <span id="header__accountPanel">
            <mat-icon aria-hidden="false" aria-label="notifications">notifications</mat-icon>
            <mat-icon aria-hidden="false" aria-label="mail">mail outline</mat-icon>
            <mat-icon aria-hidden="false" aria-label="logout">login</mat-icon>
        </span>
    </div>
</header>