@import "vars"

:host

    mat-toolbar
        width: 100%
        padding: 15px 66px 15px 25px
        height: 86px
        display: flex
        justify-content: space-between

        .header
            &__left-side,
            &__right-side
                display: flex
                flex-direction: row
                align-items: center

            &__left-side
                justify-content: flex-start

            &__right-side
                justify-content: flex-end

            &__logo
                width: 210px
                height: 52px
                display: inline-block
                vertical-align: middle

            &__title
                display: none

                @media (min-width: $tablet)
                    margin-left: 88px
                    line-height: 15px
                    display: inline-block

                h3
                    font-weight: 400
                    font-size: 24px
                p
                    font-weight: 200
                    font-size: 16px
                    margin: 0 !important

            &__menu-mobile
                display: block

                @media (min-width: $tablet + 100px)
                    display: none

        .header-right-side
            &__ul
                gap: 28px
        
        #header-right-side
            &__profile
                font-size: 14px
                display: flex
                align-items: center

            &__sign-in
                font-size: 14px
                display: flex
                align-items: center

                mat-icon
                    padding-left: 10px

    li > button
        width: auto

    ul
        display: none !important

        @media (min-width: $tablet + 100px)
            display: flex !important
    
        li
            list-style: none

        span
            margin-left: 5px

        button
            ::ng-deep .mat-ripple
                display: none
