header
    width: 100%
    padding: 15px 25px
    background: #fff
    display: flex
    align-items: stretch

    #header__logo
        width: 210px
        height: 36px
        display: inline-block

    #header__title
        margin-left: 40px
        display: inline-block

        h3
            font-size: 24px
        p
            font-size: 14px

        h3, p
            color: #004C9F