<mat-form-field id="datepicker" floatLabel="never">
    <mat-icon aria-hidden="false" 
              aria-label="Calendar" 
              matPrefix 
              id="datepicker__calendarIcon">calendar_today</mat-icon>
    <mat-label>{{ 'DATEPICKER.LABEL' | translate }}</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="{{ 'DATEPICKER.START' | translate }}" [formControl]="date">
        <input matEndDate placeholder="{{ 'DATEPICKER' | translate }}" [formControl]="date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>