@import '~src/assets/sass/vars'

:host
    .settings-section

        &__title
            margin-bottom: 25px
            vertical-align: middle
            font-size: 16px
            display: block

        &__inner-container
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-around

            @media (min-width: $tablet)
                flex-direction: row