<app-small-statistics-container></app-small-statistics-container>

<div id="stats__container">
    <mat-card class="statChart">
        <mat-card-title>Использование спутникового оборудования</mat-card-title>
        <mat-card-content>
            <app-bar-chart></app-bar-chart>
        </mat-card-content>
    </mat-card>
    <mat-card class="statChart">
        <mat-card-title>Наиболее используемое спутниковое оборудование</mat-card-title>
        <mat-card-content>
            <app-pie-chart></app-pie-chart>
        </mat-card-content>
    </mat-card>
    <mat-card class="statChart">
        <mat-card-title>Использование спутникового оборудования</mat-card-title>
        <mat-card-content>
            <app-linear-chart></app-linear-chart>
        </mat-card-content>
    </mat-card>
</div>

