<div id="settings__container">
    <mat-card class="setting">
        <mat-card-title>
            <span id="setting__title">Основные настройки</span>                     
        </mat-card-title>
        <mat-card-content>
            <mat-slide-toggle>Ночная тема</mat-slide-toggle>
            <mat-slide-toggle>Включить анимации</mat-slide-toggle>
            <div id="input-font-container">
                <span id="input-font-container__title">Размер шрифта</span>
                <input-number></input-number>
            </div>
        </mat-card-content>
    </mat-card>
</div>
