@import "../../shared/stylesPages.sass"
@import '~src/assets/sass/vars'

:host
    width: 100%
    height: 100%

    & > div:first-child
        margin-top: 0 !important

    .staff__container
        display: grid
        grid-template-columns: $itemsColumnsGrid
        justify-items: stretch
        justify-content: center
        grid-gap: 55px
        // display: flex
        // flex-wrap: wrap
        // justify-content: space-around
        margin-top: 30px
        padding-bottom: $containerBottomPadding

    mat-card
        // width: 335px
        border-radius: 0
        padding: 0
        // margin-bottom: 30px

        @media (min-width: $tablet)
            // margin-bottom: 80px

    mat-card-content
        margin-bottom: 0

    mat-card-footer
        display: flex
        align-items: center
        justify-content: space-between
        padding: 16px 14px
        margin: 0

    mat-card-title,
    mat-card-subtitle
        margin-bottom: 0

    mat-card-title
        font-size: 14px

    mat-card-subtitle
        font-size: 12px
    .staff

        &__image
            width: 100%
            height: 100%

        &__text,
        &__arrow
            display: inline-block

        &__arrow
            line-height: 0 !important

