<div class="staff">
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img src="assets/img/person.jpg" class="staff__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <span class="staff__text">
                <mat-card-title>
                    Иван Иванов
                </mat-card-title>
                <mat-card-subtitle>
                    Дилер компании "Триколор ТВ"
                </mat-card-subtitle>
            </span>
            <button mat-icon-button class="staff__arrow">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
</div>