<div class="modules">
    <mat-card>
        <mat-card-content>
            <span class="modules__title">Меню</span>
            <img src="assets/img/settings-gears.png" class="modules__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <button mat-flat-button>Применить</button>
            <button mat-flat-button>Подробнее</button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <span class="modules__title">Меню</span>
            <img src="assets/img/settings-gears.png" class="modules__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <button mat-flat-button>Применить</button>
            <button mat-flat-button>Подробнее</button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <span class="modules__title">Меню</span>
            <img src="assets/img/settings-gears.png" class="modules__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <button mat-flat-button>Применить</button>
            <button mat-flat-button>Подробнее</button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <span class="modules__title">Меню</span>
            <img src="assets/img/settings-gears.png" class="modules__image">
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <button mat-flat-button>Применить</button>
            <button mat-flat-button>Подробнее</button>
        </mat-card-footer>
    </mat-card>
</div>