@import '~src/assets/sass/vars'

@mixin menu-arrow
    content: ""
    position: absolute
    width: 80%
    height: 6%
    top: 40%
    left: 11%
    background-image: url("../../../assets/img/arrow-gray.png")
    background-repeat: no-repeat
    background-position: center center
    background-size: 100%

$sidebarWidth: 230px
$togglebarWidth: 30px

:host
    display: flex
    flex-direction: column
    height: 100%

    ::ng-deep .mat-drawer-inner-container
        overflow: hidden

    #toggleBar
        display: none

        @media (min-width: $tablet)
            display: block

    mat-drawer
        width: $sidebarWidth

    mat-drawer-container
        height: 100%

    mat-drawer-content
        padding-right: 50px
        padding-top: 20px
        padding-left: $togglebarWidth + 50px
        display: flex

    #toggleBar
        margin-top: -20px
        margin-left: -80px
        width: $togglebarWidth
        height: 100%
        background: #f4f4f4
        position: fixed
        z-index: 9999

        &:hover
            background: #f0f0f0
            cursor: pointer

    .toggleBar--opened
        &:before
            @include menu-arrow
            transform: rotate(90deg)

    .toggleBar--closed
        &:before
            @include menu-arrow
            transform: rotate(-90deg)