<div id="smallStats__container">
    <mat-card>
        <mat-card-content>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <mat-card-title>
                Просмотры сайта
            </mat-card-title>
            <mat-card-subtitle [ngClass]="fontSizeValue">
                Последние посетители и их активность
            </mat-card-subtitle>
        </mat-card-footer>
    </mat-card>  
    <mat-card>
        <mat-card-content>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <mat-card-title>
                Просмотры сайта
            </mat-card-title>
            <mat-card-subtitle [ngClass]="fontSizeValue">
                Последние посетители и их активность
            </mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <mat-card-title>
                Просмотры сайта
            </mat-card-title>
            <mat-card-subtitle [ngClass]="fontSizeValue">
                Последние посетители и их активность
            </mat-card-subtitle>
        </mat-card-footer>
    </mat-card> 
</div>