@mixin dark-theme {
  background-color: #303030;

  app-search,
  app-datepicker {
    mat-form-field {
      background-color: #424242;
    }
  }

  app-search {
    color: $text-color-dark-theme;

    .mat-mdc-focused {
      color: #fff;
    }
  }

  #toggleBar {
    background-color: #424242;

    &:hover {
      background-color: #4d4d4d;
    }
  }

  .header {
    &__title {
      color: #fff;
    }
  }

  .list-item-active {
    color: #fff !important;
    background-color: #4d4d4d !important;
  }

  #sidebar {
    &__link {
      color: #acacac;

      &:hover {
        color: #fff;
      }
    }

    &__copyright {
      color: $text-color-dark-theme;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-focused .mat-mdc-form-field-outline,
  .mat-mdc-focused .mat-mdc-form-field-empty.mat-mdc-form-field-label,
  .mat-mdc-focused .mat-mdc-form-field-label,
  .mat-mdc-focused .mat-mdc-form-field-underline,
  .mat-mdc-focused .mat-input-element,
  ::placeholder {
    color: #fff !important;
  }

  #search__filterBtn,
  #search__searchIcon,
  #datepicker .mat-icon {
    color: $text-color-dark-theme;
  }

  #article {
    &__title {
      color: $text-color-dark-theme;
    }
  }

  #smallStats__container,
  #stats__container,
  .staff__container {
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-title,
    .mat-mdc-icon-button {
      color: $text-color-dark-theme;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-subtitle {
      color: #898989;
    }
  }

  #comments__container {
    #comment {
      &__date,
      &__location {
        color: #898989;
      }
      &__title,
      &__location a,
      &__menu-btn {
        color: $text-color-dark-theme;
      }
    }

    .comment {
      .mat-mdc-card-content p {
        color: $text-color-dark-theme;
      }
    }
  }

  #articles__container,
  #module {
    button {
      background-color: #00346d;
      color: $text-color-dark-theme;

      &:hover {
        background-color: #002c5c;
        color: #fff;
      }
    }
  }

  #module .modules__title {
    color: $text-color-dark-theme;
  }

  #articles__container {
    mat-card-title,
    mat-card-content {
      color: $text-color-dark-theme;
    }
  }

  .input-number {
    &__decrement,
    &__increment {
      background-color: #bdbdbd;
      color: #000;

      &:active {
        background-color: #868686;
      }
    }

    &__field {
      background-color: #555;
      color: $text-color-dark-theme;
    }
  }

  .mat-mdc-menu-panel {
    color: $text-color-dark-theme;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  #settings__container .mat-select-block__label,
  #settings__container .mat-slide-toggle-content,
  #input-font-container__title,
  .settings-section__title {
    color: $text-color-dark-theme;
  }

  .mat-calendar-body-selected,
  .mat-calendar-body-today {
    box-shadow: inset 0 0 0 1px #59a7fd !important;
    border-color: #59a7fd !important;
    color: #59a7fd !important;
  }

  .mat-calendar-body-in-range::before {
    background-color: #303030 !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #303030;
  }

  ::-webkit-scrollbar-track {
    background-color: #424242;
  }
}
