*
    margin: 0
    padding: 0

body
    background: #eaeaea
    font-family: Roboto, Arial, Sans-Serif

mat-icon
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: pointer